<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I’m Phoenix<br />
        </h1>
        <p>Cultural Engineer, Game Designer, Instigator, Feminist Killjoy.</p>
      </header>
      <p>I am an artist and activist who often uses culture as a medium. I've got an odd compulsion to bring systems thinking into communities. I'm interested in how organizational structures can impact social change. Often I experiment with different forms of social engagement through conceptual ideas, such as graph theory, emergent systems, and mesh networks. I like to think of building organizational structures like writing social fictions.</p>
      <!-- <ul class="actions">
        <li><a href="#" class="button big">About me</a></li>
      </ul> -->
    </div>
    <span class="image object">
      <img src="assets/images/home.jpg" alt="" />
    </span>
  </section>
